/* CSS */
.specific-image {
    border-radius: 8px;
    height: 100%; /* שימוש בגובה מקסימלי לתמונה כך שהיא תמלא את הגובה */
    max-width: 50%; /* שימוש ברוחב מקסימלי לתמונה כדי לא לפרוץ את התצוגה */
    margin: auto;
}


.specific-containter {
    margin-top: 3%;
    display: flex;
    justify-content: center; /* מיקום הכרטיס באמצע המסך */
}


.specific-card {
    max-width: 400px;
    width: 100%;
}

.specific-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}


#item-long-description {
    margin-top: 10px; /* ריווח בין התיאור הקצר לארוך של המוצר */
}

/* סגנונות עבור מסך גדול */
@media (min-width: 992px) {
    .card-height{
        height: 325px;
    }
    
}
  
  /* סגנונות עבור מסך קטן */
  @media (max-width: 991px) {
    .card-height{
        height: 320px;
    }

  }
  